.card-number{
    background : #2B2929;
    margin : 20px;
    height :90px;
    width :90px;
    border-radius :20px
}
.card-number-1{
    
    margin : 20px;
    height :90px;
    width :90px;
    border-radius :20px
}
